mixin twoblocks(props)
    .twoblocks&attributes(attributes)
        .twoblocks__container
            .twoblocks__container_block.twoblocks__container_block--red
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti rem praesentium minus! Aut hic fugit sequi, vero voluptatum velit officia modi placeat nam deleniti nulla pariatur iure tenetur ipsum esse?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate fugit, corporis labore ratione aperiam dolorum totam ipsum ducimus, hic similique natus cupiditate veritatis delectus vero iure quam illo, unde enim.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, accusantium impedit ducimus sint repudiandae iusto? Similique deleniti earum inventore, quia iure vel itaque facilis, molestias, velit qui ut hic quasi.
            .twoblocks__container_block.twoblocks__container_block--yellow
                ul 
                    li Text
                    li Text
                    li Text
                ol 
                    li Text
                    li Text
                    li Text    
        .twoblocks__footer
            button.twoblocks__footer_button Click me!     

