.form {
    $root: &;
    padding: 40px;
    

    &__input {
        margin-bottom: 20px;
    }

    &__success {
        padding: 0 500px;
        text-align: center;
        
        
        &-item {
            color: green;
            margin-top: 40px;
            border: 1px solid;
            padding: 20px 0 20px 0;
        }
    }

    &__errors {
        padding: 0 500px;
        text-align: center;
        
        
        &-item {
            color: red;
            margin-top: 40px;
            border: 1px solid;
            padding: 20px 0 20px 0;
        }
    }
}