mixin form(props)
    form.form&attributes(attributes)
        +input({name: 'surname', label: 'Фамилия', required: true}).form__input
        +input({name: 'name', label: 'Имя', required: true}).form__input
        +input({name: 'patronymic', label: 'Отчество', required: true}).form__input
        +input({name: 'phone', label: 'Телефон', required: true}).form__input
        +input({name: 'e-mail', label: 'E-mail', type: 'email', required: true}).form__input
        +input({name: 'message', label: 'Сообщение'}).form__input
        +form-button({text: 'Отправить', disabled: true})
