include ../../components/header/header
include ../../components/footer/footer
include ../../components/input/input
include ../../components/modal/modal
include ../../components/twoblocks/twoblocks
include ../../components/form/form
include ../../components/form-button/form-button
include ../../components/main-slider/main-slider
